{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        {% for item in items %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text text-muted">{{ item.description }}</p>
              <a class="btn btn-outline-dark mt-auto fs-5" href="{{ item.link }}">Try</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

