{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/modules/request-module.js') }}"></script>
<script src="{{ url_for('static', filename='js/fuzzy_search.js') }}"></script>
{% endblock %}

{% block content %}

<div class="card mt-2">
    <div class="card-body">
        <div class="form-group">
            <label for="str_1">First word:</label>
            <input type="text" class="form-control" id="str_1" aria-describedby="str_1" placeholder="Enter first word">
            <small id="str_1" class="form-text text-muted">Examples: hi, content and etc. </small>
        </div>
        <div class="form-group">
            <label for="str_2">Second word:</label>
            <input type="text" class="form-control" id="str_2" aria-describedby="str_2" placeholder="Enter second word">
            <small id="str_2" class="form-text text-muted">Examples: hi, content and etc. </small>
        </div>
            
        <button onclick="send()" class="btn btn-outline-dark">Submit</button>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
        <div>
            <div class="d-inline">Result:</div>
            <div id="result" class='d-inline'></div>
        </div>

  </div>
  </div>

{% endblock %}